@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

/* MENU */
.menu {
    background-color: #0267FF;
    color: #FFFFFF;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil_foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.perfil_info {
    text-align: center;
}

.perfil_nome {
    font-size: 16px;
    font-weight: 600;
}

.perfil_email {
    font-size: 12px;
    font-weight: 400;
}

/* Contener Minhas Tarefas - Menu */
.menu-item {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:#FFFFFF; 
    color: #0267FF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    width: 80%;
}

.menu-texto {
    font-size: 16px;
    font-weight: 500;
    background-color:#FFFFFF; 
    color: #0267FF;
    display: flex;
}

/* ALTEREI */
.material-symbols-outlined {
    color: #0267FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 15px;
    padding: 9px;
}

.button__menu-mobile {
    width: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0.5rem;
}

.menu__mobile {
    display: none;
}

/* MAIN CONTENT */
main {
    flex: 1;
    padding: 20px;
}

.main-titulo h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;      
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.tarefa-secao {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    gap:20px;
}

.titulo-inicio {
    display: flex;
}

.tarefa-container {
    background-color: #F5F8FF;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarefa-lista,
.tarefa-detalhe {
    width: 85%;
    
}

.tarefa-lista h2 {
    font-size: 30px;
    font-weight: 500;
    color: #0267FF;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.tarefa {
    width: 350px;
    height: 166px;
    background-color: #FFFFFF;
    border: 2px solid #A1A3AB;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.tarefa-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.tarefa-status-texto-pendente {
    color: #F21E1E;
}

.status-pendente {
    color: #F21E1E;
}

.tarefa-status-texto_in-progress {
    color: #0225FF;
}

.tarefa-info {
    flex: 1;
}

.tarefa-titulo {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.tarefa-resumo {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}

.tarefa-status-label {
    font-size: 12px;
    margin-top: 5px;
}

.tarefa-status-texto {
    font-weight: 600;
}

.tarefa-status-texto_in-progress {
    font-size: 12px;
    color: #0225FF;
}

.tarefa-deadline {
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.add-tarefa-botao {
    background-color: #0267FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 9px 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarefa-container-2 {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    border: 2px solid #A1A3AB;
}

.tarefa-detalhe h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.tarefa-detalhe p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.status {
    font-weight: 600;
}

.tarefa-status-texto-pendente {
    font-size: 12px;
    color: #F21E1E;;
}
.tarefa-detalhe .status.in-progress {
    color: #0225FF;
}

.botao-editar,
.botao-deletar {
    background-color: #0267FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 9px 9px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 35%;
    height: 40px;
    transition: background-color 0.3s, color 0.3s;
    gap: 5px;
}

.btn-tarefas{
    display: flex;
    justify-content: center;
    gap: 40px;

}