/* MENU */
.menu {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
    width: 250px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil_foto {
    border-radius: 50%;
    margin-bottom: 10px;
}

.perfil_info {
    text-align: center;
}

.perfil_nome {
    font-size: 1rem;
    font-weight: 600;
}

.perfil_email {
    font-size: 0.75rem;
    font-weight: 400;
}

/* Contener Minhas Tarefas - Menu */
.menu-item {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color:var(--cor-fundo); 
    color: var(--cor-botao);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    text-decoration: none;
}

.menu-texto {
    font-size: 16px;
    font-weight: 500;
    background-color:#FFFFFF; 
    color: #0267FF;
    display: flex;
}

.button__menu-mobile {
    width: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0.5rem;
}

.menu__mobile {
    display: none;
}