@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --cor-fundo: #FFFFFF;
    --cor-botao: #0267FF;
    --cor-secundaria: #A1A3AB;
    --cor-hover: #0056b3;
    --cor-pendente: #f44336;
    --cor-slogan: #FFFFFF;
   
    --fonte-principal: 'Inter', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

/* MENU */

.header {
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
    width: 250px;
    height: auto;
    padding: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_menu {
    font-family: var(--fonte-principal);
    font-size: 22px;
    font-weight: 500;
    color: var(--cor-slogan);
    text-align: center;
}

.texto_menu p {
    font-family: var(--fonte-principal);
    font-size: 22px;
    font-weight: 500;
    color: var(--cor-slogan);
    text-align: center;
}

.perfil_foto {
    margin-bottom: 10px;
}

/* Menu respansivo */
.menu__mobile {
    display: none;
}