body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.main-container {
    width: 70%;
    padding: 20px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-titulo {
    font-size: 2em;
    margin-bottom: 20px;
}

.tarefa-secao {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.tarefa-container {
    width: 100%;
    max-width: 600px;
}

.filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.filters button,
.button-icon{
    margin: 5px;
    padding: 5px 15px 5px 10px;
    cursor: pointer;
    /* background-color: #007bff; */
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .filters button img,
.add-tarefa-botao img {
    margin-right: 10px;
} */

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.rodape {
    background-color: var(--cor-hover);
    padding: 10px;
    text-align: center;
}
