@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --cor-fundo: #FFFFFF;
    --cor-botao: #0267FF;
    --cor-secundaria: #A1A3AB;
    --cor-hover: #0056b3;
   
    --fonte-principal: 'Inter', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

.tarefa {
    width: 350px;
    height: 166px;
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-secundaria);
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.tarefa-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.tarefa-info {
    flex: 1;
}

.tarefa-titulo {
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

.tarefa-resumo {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    line-height: 1.5;
}

.tarefa-info p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.tarefa-deadline {
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
    display: flex;
    flex-flow: row nowrap;
}

.task-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.task-controls p {
    margin-right: 10px;
}


.tarefa-container-2 {
    display: flex;
    justify-content: center;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    border: 2px solid var(--cor-secundaria);
}

.tarefa-detalhe h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.tarefa-detalhe p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.status {
    font-weight: 600;
}


.App {
    background: var(--cor-fundo);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background: #007bff;
    color: var(--cor-fundo);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: var(--cor-hover);
}

.filters {
    margin: 20px;
}

.filters button {
    background-color: var(--cor-botao);
    color: var(--cor-fundo);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.filters button.active {
    background-color: var(--cor-hover);
}

.filters button:hover {
    background-color: var(--cor-hover);
}

/* tarefas */
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 80%;
    height: 166px;
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-secundaria);
    border-radius: 16px;
    margin-bottom: 20px;
    
}

#task-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px
}

.task-item.completed span {
    text-decoration: line-through;
}

.task-item .due-date {
    margin-left: 10px;
    font-size: 0.9em;
    color: #666;
}

.tarefa {
    width: 350px;
    height: 166px;
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-secundaria);
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* modal de editar */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.modal label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.modal input,
.modal textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.modal button {
    background-color: var(--cor-botao);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.modal button:hover {
    background-color: var(--cor-botao);
}

.modal button:last-child {
    margin-right: 0;
    background-color: #f44336;
}

.modal button:last-child:hover {
    background-color: #d32f2f;
}

.modal-content > *:last-child {
    margin-top: 15px;
}

.modal-content {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.modal-content {
    margin-top: auto;
    margin-bottom: auto;
}





